@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-white: rgb(255, 252, 226);
  --text-dark: rgb(82 82 91); /* TW: zink-600 */
  --text-white: #fbfbfb; /* TW: white */
  --accent: rgb(5 150 105); /* TW: emerald-600 */
}

/* 
    TW Palette:
    emerald-600 - rgb(5 150 105)
*/

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdddd; /* Background of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent); /* Color of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00784a; /* Color of the scrollbar thumb when*/
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-white);
  color: var(--text-dark);
}

main {
  padding-top: 200px;
}

.vh-80 {
  min-height: 80vh;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2) translate(-50%, -50%);
    transform: scale(2) translate(-50%, -50%);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2) translate(-50%, -50%);
    transform: scale(2) translate(-50%, -50%);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
